<div id="root">If you are reading this, React is bork</div>
<script>
window.staticAssets = {
  fifthSon: "<%= image_url('user_icons/fifthson.jpg') %>",
  heroSplash: "<%= image_url('new_session/hero_splash') %>",
  heroSplash2: "<%= image_url('new_session/hero_splash2') %>"
}

</script>
<% if signed_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder", user: current_user
    ).html_safe %>
  </script>
<% end %>
