.play-this-song {
  position: absolute;
  left: 300px;
  top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding-left: 15px;

  .play {
    height: 0;
    width: 0;
    border-left: 25px solid #fff;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
  }

  .pause {
    height: 20px;
    width: 20px;
    border: none;
    border-right: 5px solid white;
    border-left: 5px solid white;
    box-sizing: border-box;
  }

  .add {
    position: absolute;
    margin: auto;
    height: 20px;
    width: 4px;
    background-color: #fff;
    top: 14px;
    left: 23px;
  }

  .add:before, .add:after {
    position: absolute;
    top: 8px;
    left: -8px;
    content: ' ';
    height: 4px;
    width: 20px;
    background-color: #fff;
  }

  .tool-tip {
    display: none;
    position: absolute;
    background: #f50;
    color: #fff;
    top: 5px;
    left: -70px;
    padding: 4px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 1s;
  }

  .show-added {
    display: table;
  }

  .show-added-fadeout {
   opacity: 0;
   animation: fade-out 1.5s;
  }

}
