
.landing-page {
  border-top: solid #f50 4px;
  width: 80%;
  margin: auto;
  color: #fff;


  .front-hero {
    background-image: image-url('new_session/hero_splash');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .hero-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .left-nav {
    position: absolute;
    top: 13px;
    left: 19px;

    .sc-logo {
      margin-right: 10px;
    }
  }

  .left-nav > h1 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .right-nav {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 214px;
    height: 30px;
    display: flex;
    justify-content: space-between;

    button {
      height: 100%;
      padding: 0 15px;
      font-size: 14px;
    }

    .sign-in {
      border: solid #fff 1px;
      background-color: rgba(0, 0, 0, 0.0);
    }


  }

  .ad-button {
    margin-bottom: 5px;
    box-shadow: -1px -1px rgba(255, 124, 57, 0.5);
  }

  .ad-button:hover {
    box-shadow: 1px 1px rgba(255, 124, 57, 0.5);
  }

  .hero-content {
    height: 100%;
    padding-top: 145px;
    width: 100%;
    text-align: center;

    h1 {
      font-weight: 200;
      font-size: 36px;
    }

    button {
      width: 210px;
      height: 46px;
      font-size: 26px;
    }

  }

  .front-content {
    text-align: center;

    .song-badge-header {
      color: #333;
      width: 100%;
    }

  }

}
