// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-page {
  border-top: solid #f50 4px;
  width: 1240px;
  margin: auto;
  color: #fff;


  .front-hero {
    height: 450px;
    width: 1240px;
    // min-width: 1240px;
    background-image: image-url('new_session/hero_splash');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .hero-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .left-nav {
    position: absolute;
    top: 13px;
    left: 19px;

    .sc-logo {
      margin-right: 10px;
    }
  }

  .left-nav > h1 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .right-nav {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 214px;
    height: 30px;
    display: flex;
    justify-content: space-between;

    button {
      height: 100%;
      padding: 0 15px;
      font-size: 14px;
    }

    .sign-in {
      border: solid #fff 1px;
      background-color: rgba(0, 0, 0, 0.0);
    }

  }

  .hero-content {
    height: 100%;
    padding-top: 145px;
    width: 100%;
    text-align: center;

    h1 {
      font-weight: 200;
      font-size: 36px;
    }

    button {
      width: 210px;
      height: 46px;
      font-size: 26px;
    }
  }

  .login-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;

    .x {
      margin: 0;
      color: black;
      position: absolute;
      font-size: 40px;
      top: 5px;
      right: 15px;
      cursor: pointer;
    }


  }

  .login-form {
    background: #fff;
    width: 450px;
    height: 620px;
    margin: 100px auto;
    padding: 200px 10px;
    box-sizing: border-box;

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 7px;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 18px;
      color: #333;
    }

    .non-working-buttons {
      height: 92px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      svg {
        float: left;
      }
    }

    button {
      width: 100%;
      height: 40px;
      font-size: 14px;
      padding: 4px;
      margin-top: 10px;
    }

    .go-back {
      border: 2px solid #333;
      color: #333;
      background: #fff;
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .go-back span {
      float: left;
      font-weight: bold;
    }
  }

  .facebook {
    background: linear-gradient(#3857A1, #264285);
    height: 42px;
  }

  .google {
    background-color: #4285f4;
    height: 42px;
  }

  .divider {
    color: black;
    position: relative;
    text-align: center;
    margin: 1em auto;
    font-size: 16px;
  }

  .divider:before, .divider:after {
    display: inline-block;
    width: 43%;
    border-top: 1px solid #333;
    content: " ";
    position: absolute;
    top: .5em;
  }

   .divider:before {
     left: 0;
   }

   .divider:after {
     right: 0;
   }
}

// .landing-page.modal-open {
//   position: fixed;
//   overflow: scroll;
// }
