.player-footer-bar {
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-top: 0.5px #ccc solid;

  ul {
    padding: 0;
  }

  button {
    border: none;
    background: none;
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #controls {
    display: flex;
    justify-content: space-between;
    width: 33%;

    #play-button {
      height: 0;
      width: 0;
      border-left: 15px solid #333;
      border-right: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    #pause {
      width: 12px;
      height: 15px;
      border: none;
      border-right: 4px #333 solid;
      border-left: 4px #333 solid;
    }

    .up-bar {
      height: 15px;
      width: 0;
      border: none;
      border-left: 4px #333 solid;
      display: inline-block;
    }

    .left-triangle {
      display: inline-block;
      height: 0;
      width: 0;
      border-right: 7px #333 solid;
      border-top: 7.5px transparent solid;
      border-bottom: 7.5px transparent solid;
    }

    .right-triangle {
      display: inline-block;
      height: 0;
      width: 0;
      border-left: 7px #333 solid;
      border-top: 7.5px transparent solid;
      border-bottom: 7.5px transparent solid;
    }
  }

  .slider {
    width: 33%;
  }

  .song-info {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0;

    img {
      height: 45px;
      width: 45px;
      border: none;
    }

    .title {
      margin-right: 10px;
    }

    .artist {
      margin-right: 10px;
      font-weight: 100;
    }
  }

  .song-info:hover .play-queue {
    display: table;
  }

  .play-queue:hover {
    display: table
  }

  .play-queue {
    position: absolute;
    bottom: 50px;
    right: 50px;
    list-style: none;
    display: none;

    h3 {
      border: 1px solid #ccc;
      font-size: 14px;
      font-weight: 300;
      margin: 0;
    }
  }

  .queue {
    border: 1px solid #ccc;
    padding: 4px;
  }

}
