.song-card {
  height: 75px;
  width: 50%;
  display: flex;
  position: relative;

  a {
    display: inherit;
  }

  p {
    margin-left: 5px;
  }

  .song-icon {
    width: 60px;
    height: 60px;
  }

  .tooltip {
    position: absolute;
    top: -29px;
    left: 35px;
    width: 100px;
    color: #fff;
    background: #eee;
    padding: 0;
    display: none;
  }

  button {
    padding: 0;
  }

  .tooltip:hover {
    display: table;
  }
  .song-card-link:hover .tooltip {
    display: table;
  }

}
