.song-card {
  height: 75px;
  width: 50%;
  display: flex;
  position: relative;

  a {
    display: inherit;
  }

  p {
    margin-left: 5px;
  }

  .song-icon {
    width: 60px;
    height: 60px;
  }

}
