.song-show {

  .song-banner {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

  }

  .song-info-box {
    width: 25%;
  }

  .song-logo-large {
    width: 100%;
  }

  .song-cousins {
    padding: 5px;
  }

  .song-cousins {
    display: flex;
    justify-content: space-between;

    .song-card-index {
      width: 50%;
    }

    ul {
      list-style: none;
      width: 50%;
    }

    li {
      border: 1px solid #ccc;
      padding-left: 4px;
    }

    h3, h4 {
      font-weight: 100;
    }
  }

}
