.song-badge-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #333;
}


.song-badge {
  width: calc(100% / 8);
  height: auto;
  box-sizing: border-box;
}

.song-badge img {
  width: 100%;
  height: auto;
}
