.song-badge-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #333;
  cursor: pointer;

  a {
    color: inherit;
    text-decoration: none;
  }

  h3 {
    font-size: 1em;
    margin: 0;
  }

  h4 {
    font-size: 0.9em;
    font-weight: 200;
    margin: 0;
  }

  .song-badge {
    width: calc(100% / 8);
    height: auto;
    box-sizing: border-box;
  }

  .song-badge img {
    width: 100%;
    height: auto;
  }

}
