.upload {
  height: 100%;

  .big-hugs {
    display: flex;
    height: inherit;
  }

  .little-hugs {
    width: 50%;
    margin: auto;
    height: inherit;
  }

  form {
    display: inline-block;
    border: 1px solid #f50;
    width: 50%;

    .preview-image {
      width: 50%;
      height: auto;
    }

    .smaller {
      font-size: 12px;
      font-weight: 200;
    }

  }
}
