.user-show {
  .user-banner {
    padding: 10px;
    margin-bottom: 15px;

    h4 {
      text-shadow: 0 0 2px white;
      margin-top: 5px;
    }

    h3 {
      margin-bottom: 5px;
    }
  }

  .big_icon {
    height: 200px;
    width: auto;
  }

  h1 {
    color: #333;
    font-size: 14px;
  }
}
