.user-header-bar {
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  .big-hugs {
    // max-width: 1240px;
    width: 90%;
    min-width: 900px;
    text-align: center;
    display: flex;
    height: 46px;
    margin: auto;
    justify-content: space-between;
  }

  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
  }

  a, .header-wrapper p {
    color: #ccc;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
  }

  a.cloud-icon {
    margin: 0;
  }

  a:hover {
    color: #eee;
    // text-shadow: 2px 2px grey;
  }

  .header-wrapper-daddy {
    display: flex;
    width: 100%;
    margin-left: 0;
    margin: 0;
  }

  .header-wrapper {
    font-size: 14px;
    height: 100%;
    display: flex;
    padding: 12px 7px;
    box-sizing: border-box;
    min-width: 70px;
    border-right: 1px solid black;
  }

  .repo-link {
    padding-top: 6px;
  }

  .logo-hugger {
    width: 69px;
    height: 46px;
    display: inline-block;
    text-align: center;
    background-color: #f50;
    padding: 0;
  }

  .sc-logo {
    color: #fff;
  }

  .search-wrapper {
    padding: 0;
    width: inherit;
  }

  .header-middle {
    margin: auto;
    // width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  input.header-search {
    line-height: 26px;
    padding: 5px 7px;
    font-size: 14px;
    // float: left;
    width: 100%;
    // min-width: 200px;
    border: none;
    margin-right: -2px;
    border-radius: 5px 0 0 5px;
  }

  .header-search {
    margin: auto;
    height: 28px;
    background: #eee;
  }

  .search-button {
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
  }

  #magnifyingGlass {
    color: #666666;
  }

  #magnifyingGlass:hover {
    color: #666666;
  }

  .header-wrapper-right {
    display: flex;

    .logo-wrapper > div {
      display: flex;
    }

    p {
      color: #ccc;
      margin: 7px 0 0 0;
      display: block;
    }
  }

  .header-wrapper-right ul {
    margin: 0;
  }

  .header-wrapper-right svg {
    margin: auto;
    color: #ccc;
  }

  .header-wrapper:hover svg {
    color: #eee;
    cursor: pointer;
  }

  .logo-wrapper {
    width: 100%;
  }

  .user-logo-sm {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin: auto;
    box-sizing: border-box;
  }

  .down-angle {
    padding-bottom: 5px;
    padding-left: 4px;
  }

  .three-dots, .temp-logout-icon {
    padding-top: 5px;
    /* can be removed when element is turned back to svg */
    color: #ccc;
    padding-top: 8px;
    cursor: pointer;
  }

}
